body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.colour{
    color: rgb(255, 165, 0);
}

.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
   
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream{
    
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.experiences_item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 4%;
    border-left: 10px solid;
}
.experiences_area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}
footer p{
    text-align: center;
}